body {
    width: 100%;
    margin: 0px;
    background-color: #689840;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    font-family: "Nunito", system-ui, sans-serif;

}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 50%;
}

.contenedor h1 {
    margin-top: 3rem;
    font-size: 1.75rem;
    color: white;

}

.contenedor button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1.75rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px 0.5px rgba(59, 59, 59, 0.623);
    font-family: "Nunito", system-ui, sans-serif;
    font-weight: 600;
    color: #4a524a;


}

.google-icon {
    max-width: 40px;
}

#logo-admira {
    max-width: 200px;
}