body{
    width: 100%;
    margin: 0px;
    background-color: #689840;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 50%;
}

.contenido h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navMenu{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navMenu ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style:none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
    width: 100%;
}

.navMenu li{
    width: 70%;
    background-color: rgb(47, 125, 47);
    padding: 0.5rem 2rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0.5px rgba(59, 59, 59, 0.662);
    outline: 1px solid rgba(0, 0, 0, 0.168);
    font-weight: bold;



}

.navMenu li a{
    color: white;
    text-decoration: none;

}

.logoutBtn{
    text-align: center;
    text-decoration: none;
    background-color: aliceblue;
    padding: 0.5rem 2rem;
    width: 70%;
    align-self: center;
    color: #689840;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 2rem;
    box-shadow: 3px 3px 10px 0.5px rgba(59, 59, 59, 0.662);
    
}