body { 
    font-family: sans-serif; 
    background: #689840; 
    color: #fff; 
    text-align: center; 
    padding: 20px; }

.slide img { 
    max-width: 100%; 
    border-radius: 10px; 
    margin-top: 10px;
}

button { 
    margin: 5px; 
    padding: 10px 20px; 
    border-radius: 8px; 
    border: none; 
    cursor: pointer; 
}

#prevBtn{
    background-color: rgb(7, 87, 235);
}

#nextBtn, #sendIssueBtn, #finishBtn{
    background-color: green;
}

#issueBtn, #cancelIssueBtn{
    background-color: rgb(184, 19, 19);
}

/*INCIDENCIA*/
#issueModal {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.8);
  z-index: 999;
  justify-content: center;
  align-items: center;
}
#issueContent {
  background: #222222;
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: left;
  color: #fff;
}

#issueContent h3 {
  text-align: center;
  margin-top: 0;
}

#issueContent textarea {
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  border: none;
  resize: none;
  background: #333;
  color: #fff;
}

#issueContent input[type="file"] {
    color: #ccc;
    width: 100%;
    margin: 10px 0;
}

#issueContent button {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/*ç!*/
img { 
    max-width: 100%; 
    border-radius: 12px; 
    margin-top: 1rem; 
}

.buttons { 
    display: flex; 
    justify-content: center; 
    gap: 1rem; 
    margin-top: 1rem; 
}

button { 
    color: white; 
    border: none; 
    padding: .8rem 1.2rem; 
    border-radius: 8px; 
    cursor: pointer; 
    font-weight: 600; 
}